$main-color: rgb(117, 185, 190);
$darker-main-color: rgb(89, 171, 177);
$darkest-main-color: rgb(72, 147, 153);

$light-color: rgb(252, 247, 248);

$dark-color: rgb(68, 69, 69);
$lighter-dark-color: rgb(101, 103, 103);

$accent-color: rgb(238, 150, 75);
$lighter-accent-color: rgb(243, 180, 124);
