@import "../../../styles/colors";

.TodoList {
  display: flex;
  flex-direction: column;
  width: 480px;
  list-style-type: none;
  padding: 0;
}

.TodoListItem {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: $accent-color;
  color: $light-color;
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $lighter-accent-color;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.InactiveTodoListItem {
  text-decoration: line-through;
}
